* {
	margin: 0;
	padding: 0;
}

:root, body {
	height: 100%;
}

:root {
	--colour_fireflame: #b22222;
	--colour_orange: #f46137;
	--colour_black: #000;
	--colour_darkgrey: #222;
	--colour_offwhite: #f7f7f7;
	--colour_grey: #d0d0d0;
	font-family: Arial, sans-serif;
	font-size: 0.95rem;
	background: var(--colour_offwhite);
	margin: 1rem;
	letter-spacing: -0.009rem;

}

a {
	color: var(--colour_fireflame);
}

a:hover {
	background: var(--colour_fireflame);
	color: var(--colour_offwhite);
}

h1 {
	font-family: Arial Black, Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-family: Arial Black, Arial, sans-serif;
	line-height: 1.5;
	letter-spacing: -0.05rem;
}

main h2 {
	margin-bottom: 0.5rem;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	max-width: 690px;
}

.fireflame_header .tagline {
	color: #b22222;
	letter-spacing: 5px;
	font-style: italic;
}

.fireflame_header .title {
	padding-bottom: 0.5rem;
	text-align: center;
}

.fireflame_nav {
	display: flex;
	flex-direction: column;
}

.fireflame_nav ul {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	list-style: none;
	padding: 0.5rem 0;
}

.cat-links {
	margin-left: 1.5rem;
}

.cat-links ul {
	padding: 1rem 0 1rem 2rem;
}

.cat-links li {
	padding-bottom: 0.5rem;
}

.counter {
	position: absolute;
 	bottom: 10px;
}

.category {
	margin-bottom: 1rem;
}