---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let metaTitle = 'About Fireflame';
let description = 'Find out more about Fireflame, the hottest new web directory!';

---

<Layout {metaTitle} {description}>
	<h1>About Fireflame</h1>
	<p>Fireflame (also known as Firefla.me) is a web directory founded in 2020 by Luke Davis in the United Kingdom.</p>
	<p>The original idea behind Fireflame was to allow users to get direct links to interesting websites without having to deal with everchanging search engine algorithms and the proliferation of generative AI models. As of v2, Fireflame offers its own fuzzy search engine without the use of any models.</p>
<Footer />
</Layout>

