---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let metaTitle = 'Contact';
let description = 'Our contact page';

---
<html lang="en">
  <head>
    <BaseHead {metaTitle} description={description} />
</head>

<Header {metaTitle} />
<body>
	<main>
		<p>To submit a link, email us at <a href="mailto:submit@firefla.me?subject=Link submission">submit@firefla.me</a></p>
      <p>For anything else, email <a href="mailto:webmaster@firefla.me">webmaster@firefla.me</a></p>
	</main>
   <Footer></Footer>
</body>
</html>