---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import YahooLinks from '../components/YahooLinks.astro';
import culture from '../data/culture.yaml'
import sports from '../data/sports.yaml'
import stem from '../data/stem.yaml'

const cultureTags = culture.flatMap((item: any) => ( item?.tags ));
const sportsTags = sports.flatMap((item: any) => ( item?.tags ));
const stemTags = stem.flatMap((item: any) => ( item?.tags ));

// METADATA VARIABLES

const metaTitle = 'A fire site of cool links!';
const description = 'A fire site of cool links!';

---
<Layout metaTitle={"Fireflame – A fire site of cool links!"}  {description}>
      <div class="category">
         <h2>Culture</h2>
            <YahooLinks indexTags={cultureTags} />
      }
      </div>
      <div class="category">
         <h2>Sports</h2>
            <YahooLinks indexTags={sportsTags} />
      </div>
      <div class="category">
         <h2>STEM (science, technology, engineering, and mathematics)</h2>
         <YahooLinks indexTags={stemTags} />
      </div>
<Footer />
</Layout>