---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import FuzzySearch from '../components/FuzzySearch.astro';

// METADATA VARIABLES

const metaTitle = 'Search';
const description = 'A search page.';

---
<Layout metaTitle={metaTitle} description={description}>

<style>
  
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .outer-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: white;
    border: 1px solid grey;
    padding: .5rem;
    width: 85%;
  }

  .outer-search input[type=search] {
    width: 95%;
    border: none;
    padding: .25rem;
  }

  .results {
    margin-top: 2rem;
  }

  #cross {
    opacity: 0;
  }

</style>

  <div class="search-bar">
    <div class="outer-search">
    <svg id="search-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"/></svg>
      <input id='search' type='search' label='Search' placeholder="What would you like to search today?"/>
      <svg id="cross" width="24" height="24" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M165.66 101.66L139.31 128l26.35 26.34a8 8 0 0 1-11.32 11.32L128 139.31l-26.34 26.35a8 8 0 0 1-11.32-11.32L116.69 128l-26.35-26.34a8 8 0 0 1 11.32-11.32L128 116.69l26.34-26.35a8 8 0 0 1 11.32 11.32M232 128A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88 88 0 1 0-88 88a88.1 88.1 0 0 0 88-88"/></svg>
    </div>
  </div>

  <div class="results"></div>
  
<Footer />

<FuzzySearch />
</Layout>