---
---
<header class="fireflame_header">
  <div class="title">
    <h1>🔥 Fireflame 🔥</h1>
    <h2 class="tagline">A fire site of cool links!</h2>
  </div>
  <hr>
  <nav class="fireflame_nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li>About</li>
      <li><a href="/contact/">Contact</a></li>
      <li>News</li>
      <li><a href="https://weather.lycos.com/">Weather</a></li>
      <li><a href="/search/">Search</a></li>
    </ul>
  </nav>
  <hr>
</header>