---
const { title } = Astro.props;
---
<header class="fireflame_header">
      <div class="title">
        <h1>{title}</h1>
        <h2><i><span style="color:#b22222;">A fire site of cool links!</span></i></h2>
      </div>
    </header>
    <hr>
    <nav class="fireflame_nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li>About</li>
          <li><a href="/contact">Contact</a></li>
          <li>News</li>
          <li><a href="https://weather.lycos.com/">Weather</a></li>
          <li>Search</li>
        </ul>
        <hr>
      </nav>
