---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

interface Props {
  metaTitle: string;
  title: string;
  description: string;
  robotsTag: string;
}

const { title, metaTitle, description, robotsTag } = Astro.props;

---
<html lang="en-GB">
  <BaseHead {metaTitle} {description} {robotsTag} />
  <div class="container">
  <body>
    <Header {title} />
      <main>
        <slot />
      </main>
  </body>
  </div>
</html>